control_temp_hum.json
[
    {
        "id": "d849a1639e4357f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8c0e26a6cb85239",
        "type": "ui_switch",
        "z": "d849a1639e4357f3",
        "name": "Light",
        "label": "Ventilador",
        "tooltip": "",
        "group": "5814cbf9bca9a306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "967a266c4323bdbf",
                "600f4a0f108a4036"
            ]
        ]
    },
    {
        "id": "967a266c4323bdbf",
        "type": "mqtt out",
        "z": "d849a1639e4357f3",
        "name": "",
        "topic": "room/light",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1de90dbd471f38f7",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "d17314375f01df1c",
        "type": "mqtt in",
        "z": "d849a1639e4357f3",
        "name": "",
        "topic": "room/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "1de90dbd471f38f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "9c5adaeaaf781251",
                "ae99f1e90bf39794",
                "c896eb3327d87d1c"
            ]
        ]
    },
    {
        "id": "9c5adaeaaf781251",
        "type": "ui_gauge",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "7cfe139596c5d4cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae99f1e90bf39794",
        "type": "ui_chart",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "21e58f9d47824b60",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historico (Temperatura)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "53cb39ec56086de7",
        "type": "ui_gauge",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "7cfe139596c5d4cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "80",
        "className": "",
        "x": 440,
        "y": 660,
        "wires": []
    },
    {
        "id": "a2acec416dfae9ac",
        "type": "mqtt in",
        "z": "d849a1639e4357f3",
        "name": "",
        "topic": "room/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "1de90dbd471f38f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 640,
        "wires": [
            [
                "53cb39ec56086de7",
                "5c100d1fe971eff0",
                "c8e0cf2973780b22"
            ]
        ]
    },
    {
        "id": "5c100d1fe971eff0",
        "type": "ui_chart",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "21e58f9d47824b60",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historico (Humedad)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c896eb3327d87d1c",
        "type": "function",
        "z": "d849a1639e4357f3",
        "name": "insert temperatura",
        "func": "msg.topic=\"INSERT INTO tbl_temperatura (temperatura) VALUES (\"+msg.payload+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "52da0d139d4f6081"
            ]
        ]
    },
    {
        "id": "52da0d139d4f6081",
        "type": "mysql",
        "z": "d849a1639e4357f3",
        "mydb": "759b953498c49801",
        "name": "",
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "600f4a0f108a4036",
        "type": "function",
        "z": "d849a1639e4357f3",
        "name": "swich relevador",
        "func": "msg.topic=\"UPDATE tbl_dispositivo SET estatus = \" + msg.payload + \" WHERE cveDispositivo = 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "52da0d139d4f6081"
            ]
        ]
    },
    {
        "id": "c8e0cf2973780b22",
        "type": "function",
        "z": "d849a1639e4357f3",
        "name": "insert humedad",
        "func": "msg.topic=\"INSERT INTO tbl_humedad (humedad) VALUES (\"+msg.payload+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "52da0d139d4f6081"
            ]
        ]
    },
    {
        "id": "631d4b81c466f911",
        "type": "mqtt in",
        "z": "d849a1639e4357f3",
        "name": "",
        "topic": "room/ppm",
        "qos": "2",
        "datatype": "auto",
        "broker": "1de90dbd471f38f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 860,
        "wires": [
            [
                "5fc870905f510432",
                "c3870ca0eb6e3246",
                "bade8e8b2ba5ebdc"
            ]
        ]
    },
    {
        "id": "5fc870905f510432",
        "type": "ui_gauge",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "7cfe139596c5d4cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PPM",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "className": "",
        "x": 450,
        "y": 860,
        "wires": []
    },
    {
        "id": "c3870ca0eb6e3246",
        "type": "ui_chart",
        "z": "d849a1639e4357f3",
        "name": "",
        "group": "21e58f9d47824b60",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historico (PPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bade8e8b2ba5ebdc",
        "type": "function",
        "z": "d849a1639e4357f3",
        "name": "insert PPM",
        "func": "msg.topic=\"INSERT INTO tbl_ppm (ppm) VALUES (\"+msg.payload+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 800,
        "wires": [
            [
                "52da0d139d4f6081"
            ]
        ]
    },
    {
        "id": "5814cbf9bca9a306",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "8f5efc29430a7409",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1de90dbd471f38f7",
        "type": "mqtt-broker",
        "name": "raspberry-pi",
        "broker": "proxy19.rt3.io",
        "port": "35009",
        "clientid": "edomenzain",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7cfe139596c5d4cf",
        "type": "ui_group",
        "name": "Temperatura y humedad",
        "tab": "8f5efc29430a7409",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e58f9d47824b60",
        "type": "ui_group",
        "name": "Graficas",
        "tab": "8f5efc29430a7409",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "759b953498c49801",
        "type": "MySQLdatabase",
        "name": "Base Remota",
        "host": "proxy21.rt3.io",
        "port": "31933",
        "db": "invernadero_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8f5efc29430a7409",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]